
{%extends 'all_pics/base.html'%}
{% load static %}

{% block content %} 
{{ block.super}}



<div class="container">

  <!-- Looping through images  -->
  {% for pic in all_pics %}

  <div class="card-columns">
    <!-- displaying images -->

    <div class="col-md-3 col-sm-3 col-xs-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{pic.id}}">
            <img src="{{pic.image.url}}" class="img-responsive img-fluid img-thumbnail" style="width: 100%;height:250px" >
          </button>

    </div>
   <div>   
    <div class="modal fade" id="{{pic.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <span><em>Kindly find the image details below</em></span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <div class="modal-body">
                <img src="{{pic.image.url}}" class="img-responsive img-fluid img-thumbnail" style="width: 150%;height:300px" >
                <span class="badge badge-warning" style="text-align: center;">IMAGE DETAILS</span><br>
                <span class="badge badge-success">Image Name: {{ pic.image_name }}</span><br>
                <span class="badge badge-success">Description:{{ pic.description }}</span><br>
                <span class="badge badge-success">Category: {{ pic.category }}</span><br>

            </div>
  
            <div class="modal-footer">
                <input style="color:blue;"class="form-control input-lg" type="text"  value="{{pic.image.url}}" id="{{pic.id}}.url">
                            
                <button type="button" class="btn btn-success btn-sm" onclick="copyMe( '{{pic.id}}.url')">copy 
                            </button> 
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
              {%block script%}
              <script>
                  
                      copyMe = (element) => {
                      document.getElementById(element).select();
                      document.execCommand("copy");
                      }
                      
              </script> 
              {%endblock%}
            </div>
          </div>
        </div>
      </div>
    </div>
                       
      {% endfor %}

    </div>
    
   </div>
   
  
  {%endblock%}