{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" initial-scale="1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if title %}
  <title>Picsurf - {{title}}</title>
  {% else %}
    <title> Picsurf </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/picsurf.css' %}">

  {% endblock %}

</head>
  <body>
      {% include "navbar.html" %}
      {% block content %} {% endblock %}


      {% block scripts %}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

      {% bootstrap_javascript %}
      {% endblock %}
    {% block footer%}
      <marquee style="color: coral; font-size: large; font-weight: 700;"><em>Welcome to Pic~Surf, Click on a pic to view details</em></marquee>
    {% endblock %}

    </body>
</html>